/* anchor 類別由js插入,可以右鍵複製連結 */

.anchor {
color: #00bdf3;
font-size: 0.5em;
cursor: pointer;
visibility: hidden;
/* margin-left: 0.5em; */
/* position: absolute; */
/* margin-top: 0.5em; */
display: inline-block;
vertical-align: super;

}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
visibility:visible;
} .mark, mark {
padding: .2em;
background-color: #ffc107;
}

#body-inner pre code.hljs {

background: black;
}

#body-inner ul {
list-style-type: none;
padding-left: 20px;
margin-left: 2rem;
}
#body-inner ul ul{
margin-left:unset;
}
#body-inner ul p {
padding:0px;
margin:0px;
}
#body-inner ul li {
position: relative;
padding-left: 5px;
padding-bottom: 0.5rem;
}
#body-inner ul li::marker {
content: "📌";
font-size:60%;
}
#body-inner ul li li::marker{
content: "✔";
font-size:60%;
}
#body-inner ul li li li::marker{
content: "✔";
font-size:60%;
}

#body-inner a:not([class]) {
text-decoration: none;
color: inherit;
border-bottom: 1px solid var(--theme-border-color);

background: transparent;

}

/* 連結動態顯示
@keyframes leftright {
0% {
background-color: transparent;
}
100% {
background-color: var(--theme-border-color);
}
}
#body-inner a:hover {
background-color: #0082a7;
transition: background-color ease 0.8s;
animation: leftright ease 0.8s;
}
*/

#body-inner a:hover,
#body-inner a:focus {
background-color: var(--theme-transparent-color);
transition: background-color ease 2s;

}

#body-inner hr {
width: 50%;

margin: 1rem auto;
height: 4px;
overflow: hidden;
border: none;
background: #f106d2;
}

a[href$=".docx"]:before {
content:url(https://img.informer.com/icons/png/16/4135/4135583.png);
}

a[href$=".pttx"],a[href$=".pptx"]:before {
content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/PowerPoint-icon.png);
}

a[href$=".xlsx"]:before {
content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/Excel-icon.png);
}

a[href$=".pdf"]:before {
content:url(http://www.wischenbart.com/img/pdf_icon.gif);
}

.tooltip {
position: relative;
display: inline-block;
visibility: visible;
border-bottom: 1px dotted black;
opacity: 100;
}

.tooltip .tooltiptext {
visibility: hidden;
max-width: 400px;
width: max-content;
/*width: fit-content;*/
color: #fff !important;
background-color: black !important;
font-weight: bold;
text-align: left;
border-radius: 6px;
padding: 2px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}
.tooltip a{
  /*color: #fff !important;*/
  color: inherit !important;
}
.tooltip:hover .tooltiptext {
visibility: visible;
}
#body-inner a.mynote {
border-bottom: 1px solid #CBF8DF;
box-shadow: none;
}

/* 短碼 expand.html */
.nopre{
white-space:normal;
}
div.expand {
white-space:normal;
margin-left: 10px;

width: 100%;
}
.expand-label {
background: var(--theme-transparent-color);
margin-bottom: 2px;
cursor: pointer;
}
.expand-label + .expand-content {
border:solid var(--theme-color) 2px;
position:relative;
display:none;
}

.expand-label + .expand-content.incode {
white-space:pre;
font-family: monospace;
display:none;
}
/*
div.expand *:not(span) {
all: initial;
* {
all: unset;
}
}
*/

h2,h3,h4,h5,h6 {
    /* font-size: 1.5rem; */
    font-weight:600;
    margin: 16px 0px 8px 0px;
    }
    
h3 {
/* font-size: 1.5rem; */
font-weight:600;
margin: 32px 0px 8px 0px;
}

h2 {
border-bottom: 2px solid var(--theme-color) ;
margin: 40px 0px 16px 0px;
/*font-size: 1.5rem;*/
font-weight:600;
width: calc(100% - 5rem);
}
/* shortcode foldergallery.html */
#body-inner img.galleryimg{
margin:0px;
width: 100%;
}

blockquote {
border-left: 10px solid #cee2f6;
margin-left:5rem;
padding-left:1rem;
width:80%;

}
blockquote p {
font-size: 1.1rem;
color: #999;
}
blockquote cite {
display: block;
text-align: right;
color: #666;
font-size: 1.2rem;
}

::selection {
background: #0594cb;
color: #fff;

}

.toa {
font-size: 13px !important;
max-height: 85vh;
overflow: auto;
padding: 5px !important;
min-width: 160px;
}

#body-inner ol:not([class]) {
list-style: none;
margin: 32px 0;
position: relative
}

#body-inner ol:not([class]) {
counter-reset: ol-step-counter;
padding-left: 32px
}

#body-inner ol:not([class])>li {
counter-increment: ol-step-counter
}

#body-inner ol:not([class])>li::before {
background: #5f6368;
border-radius: 50%;
color: #fff;
left: 0;
position: absolute
}

#body-inner ol:not([class])>li::before {
-ms-flex-align: center;
-ms-flex-negative: 0;
-ms-flex-pack: center;
-webkit-box-align: center;
-webkit-box-pack: center;
align-items: center;
content: counter(ol-step-counter);
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
flex-shrink: 0;
font-size: .75em;
height: 20px;
justify-content: center;
margin: 6px 0 0;
width: 20px
}

#body-inner ol:not([class])>li {
font-size: 1.125rem;
line-height: 1.778rem;
margin-bottom: 8px
}

/*
#body-inner ol:not([class])>li,ul:not([class])>li {
font-size: 1.125rem;
line-height: 1.778rem;
margin-bottom: 8px
}

ul:not([class]) {
padding-left: 24px
}

ul:not([class])>li::before {
content: "";
height: 8px;
margin: 12px 0 0;
width: 8px
}
*/
.tags {

display: inline-block;
line-height: 2em;
font-size: 0.8em;
position: relative;
margin: 0 16px 8px 0;
padding: 0 10px 0 12px;
background: var(--theme-color);

}
.tags a{
text-decoration: none;
color:white;
}
.tags a:before {
content: "";
position: absolute;
top: 0;
left: -1em;
width: 0;
height: 0;
border-color: transparent var(--theme-color) transparent transparent;
border-style: solid;
border-width: 1em 1em 1em 0;

}
/* 為甚麼放在這裡就都正常,放在其他地方就不行? 找不到原因*/
.chroma .lnt{
    display:block;
}


/* Sidebar formating --------------------------------------------*/

div.sidebar, div.base {
    /* border: 3px solid #4e9a06;*/
    border-radius: 5px;
    padding: 1em;
    margin: 1em 1em 1em 3.5em;
    box-shadow: 6px 7px 7px black;
    background-color: #c2e1a7;
  }
  
  
  div.quiz  {
    /* border: 3px solid #4e9a06;*/
    border-radius: 5px;
    padding: 1em;
    margin: 1em 1em 1em 3.5em;
    box-shadow: 6px 7px 7px black;
    background-color: #efc3b9;
  }
  

/*把UL當成tree*/  
.file-tree ul {
  font-family: courier;
  margin: 0;
  padding-left: 3rem;
  list-style: none;
  line-height: 1.25;
  position: relative;
  overflow: hidden;
}

.file-tree li:not(:last-child) > ul::before {
  content: '\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1em;
}

.file-tree > ul {
  margin: 0;
  padding: 0;
}

.file-tree li {
  background: #fff;
  position: relative;
}

.file-tree li::before {
  content: '\251C\2500\2500\0020';
}

.file-tree li:last-child::before {
  content: '\2514\2500\2500\0020';
}
