<!DOCTYPE html>
<html><head>
  <title>分類</title>  
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='/~linchao/test/images/favicon.ico'/>
      
    <script src="/~linchao/test/js/jquery-3.3.1.min.js?1629552236"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src='/~linchao/test/js/tocbot.min.js'></script>
    <link href='/~linchao/test/css/tocbot.css' rel="stylesheet">

    <script src='/~linchao/test/js/datatables.min.js'></script>    
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">    
    
    <link href="/~linchao/test/css/fontawesome-all.min.css?1629552236" rel="stylesheet">
    <link href="/~linchao/test/css/atom-one-dark-reasonable.css?1629552236" rel="stylesheet">
    <link href="/~linchao/test/css/syntax.css?1629552236" rel="stylesheet">
    
    <link href="/~linchao/test/css/theme-mine.css?1629552236" rel="stylesheet">
    
    <link href="/~linchao/test/css/theme.css?1629552236" rel="stylesheet">
    
    
    <link rel="stylesheet" href="http://www2.nkust.edu.tw/~linchao/test/scss/notice.e59a0cc88b64e695994f518354819cfbf48558cdcfd9a16dc129f9952128ba36.css" integrity="sha256-5ZoMyItk5pWZT1GDVIGc&#43;/SFWM3P2aFtwSn5lSEoujY=">

    
  </head><body><div id="top-pane" class="navbar  fixed-top ">
  <div class="container-fluid">
  <span >
    <a  href='/~linchao/test/' class="fs-5 accessory"><i class="fas fa-home"></i>我的測試區</a>
    <span id="sidebar-toggle-span" class="fs-5"><i class="fas fa-align-justify"></i></span>
  </span><span >
      <span id="toc-menu">
    <label><i class="fas fa-list-alt" ></i> </label>    
<div id="variant-toc-content" >
    <div class="wrapper">
        <nav id="TableOfContents">
<ul>
<li>
<ul>
<li><a href="#參考">參考</a>
<ul>
<li><a href="#快提">快提</a></li>
<li><a href="#snippet">snippet</a></li>
</ul></li>
<li><a href="#實驗註記">實驗註記</a>
<ul>
<li><a href="#uglyurls-false"><code>uglyurls=false</code></a></li>
<li><a href="#uglyurls-true"><code>uglyurls=true</code></a></li>
</ul></li>
<li><a href="#如何拿到正確tags所在網頁的網址">如何拿到正確tags所在網頁的網址</a></li>
<li><a href="#code-snippet">code snippet</a>
<ul>
<li><a href="#輸出所有類別">輸出所有類別</a></li>
<li><a href="#taxonomies-的範例">taxonomies 的範例</a></li>
</ul></li>
<li><a href="#結論">💯結論</a>
<ul>
<li><a href="#uglyurls-true-1"><code>uglyURLs=true</code></a></li>
<li><a href="#uglyurls-false-1"><code>uglyURLs=false</code></a></li>
</ul></li>
</ul></li>
</ul>
</nav>
    </div>
    <hr class="p-0 m-0" />
    <div class="toa"></div>
</div>
</span>
<span class="fs-5 accessory" data-bs-toggle="tooltip" data-bs-placement="bottom" 
      title='最後修改July 24, 2021'>分類</span>
        
    

    </span>
  
  <span><a class="btn btn-outline-dark p-0" style="font-size:12px" href="/~linchao/test/tags/%E6%8E%92%E5%BA%8F.html">
    <i class="fas fa-tag"></i>排序
</a></span><span >
    <span >
    <label for="search-query" id="search-button"><i class="fas fa-search"></i></label>
    <input id="search-query" type="search" placeholder="搜尋" autocomplete="off">
</span>    
 
<div id="search-pane">
 <ol id="search-results"></ul>
</div>

    </span>
</div> 
</div>


<div id="content-wrapper"><nav id="sidebar">

  

    
    
    <ul class="nav flex-column topics" id="home-topics">
      
        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="nodejs 測試">
     

  <a class="nav-link" 
    href="/~linchao/test/nodejs.html"><i class="far fa-folder"></i>nodejs 測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_af4b61d775dd1b084c1edc9440ed8bb8"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_af4b61d775dd1b084c1edc9440ed8bb8"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/nodejs/tutorial/t1_basic.html" data-bs-toggle="tooltip" title="t1 basic">t1 basic</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/nodejs/tutorial/t2_cors.html" data-bs-toggle="tooltip" title="t2 cors 的實驗">t2 cors 的實驗</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/nodejs/tutorial/t3_cookies.html" data-bs-toggle="tooltip" title="t3_cookies">t3_cookies</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/nodejs/tutorial/t4_session.html" data-bs-toggle="tooltip" title="t4_session">t4_session</a></li>
    </ul>
  

</li>   
     
  

        
          
        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="基本">
     

  <a class="nav-link" 
    href="/~linchao/test/basic.html"><i class="far fa-folder"></i>基本  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_e1c118151bd2cc204dc463b4dbcd4102"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/vscode.html" data-bs-toggle="tooltip" title="vscode 的設定">vscode 的設定</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/vscode%E5%BF%AB%E9%80%9F.html" data-bs-toggle="tooltip" title="vscode快速">vscode快速</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E4%BD%BF%E7%94%A8slice.html" data-bs-toggle="tooltip" title="使用slice">使用slice</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E5%85%A7%E5%BB%BA%E6%8C%87%E4%BB%A4relref%E6%B8%AC%E8%A9%A6.html" data-bs-toggle="tooltip" title="內建指令relref測試.md">內建指令relref測試.md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E6%89%93%E5%85%89.html" data-bs-toggle="tooltip" title="打光議題">打光議題</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E6%89%93%E5%8C%85%E6%96%87%E4%BB%B6.html" data-bs-toggle="tooltip" title="打包文件">打包文件</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E6%9C%89%E9%97%9Cthemes%E8%A8%AD%E5%AE%9A.html" data-bs-toggle="tooltip" title="有關variant 的config.toml">有關variant 的config.toml</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/tagtest.html" data-bs-toggle="tooltip" title="標籤">標籤</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E6%AD%A3%E8%A6%8F%E8%A1%A8%E9%81%94%E5%BC%8F.html" data-bs-toggle="tooltip" title="正規表達式">正規表達式</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/gallery.html" data-bs-toggle="tooltip" title="短碼 - foldergallery">短碼 - foldergallery</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E7%9F%AD%E7%A2%BCexpand.html" data-bs-toggle="tooltip" title="短碼 expand">短碼 expand</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E7%9F%AD%E7%A2%BCattachfiles.html" data-bs-toggle="tooltip" title="短碼attachfiles">短碼attachfiles</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/short_demo_container_md.html" data-bs-toggle="tooltip" title="短碼demo_container_md">短碼demo_container_md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E7%9F%AD%E7%A2%BCdocfile%E8%A8%BB%E8%A7%A3.html" data-bs-toggle="tooltip" title="短碼docfile註解.md">短碼docfile註解.md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E7%9F%AD%E7%A2%BCgithub.html" data-bs-toggle="tooltip" title="短碼github.html">短碼github.html</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E7%B7%A8%E8%99%9F.html" data-bs-toggle="tooltip" title="編號">編號</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/short_editurl.html" data-bs-toggle="tooltip" title="編輯副檔名">編輯副檔名</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E8%A8%8E%E8%AB%96%E5%8D%80.html" data-bs-toggle="tooltip" title="討論區">討論區</a></li>
    
  <li>

 


<li class="nav-item" data-bs-toggle="tooltip" title="token 測試">
     

  <a class="nav-link" 
    href="/~linchao/test/basic/token.html"><i class="far fa-folder"></i>token 測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_59852a0c5987b8e2611de46cc1c512a6"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_59852a0c5987b8e2611de46cc1c512a6"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"> 
    

  
  
  
  
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/token/token%E5%AF%A6%E9%A9%97.html" data-bs-toggle="tooltip" title="t2 token實驗">t2 token實驗</a></li>
    
  
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/token/test.html" data-bs-toggle="tooltip" title="test">test</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/token/%E6%8B%BFtoken.html" data-bs-toggle="tooltip" title="拿token">拿token</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/token/reuri.html" data-bs-toggle="tooltip" title="重導用的URI">重導用的URI</a></li>
    </ul>
  

</li>   
     
  
</li>
    
  <li>

 


<li class="nav-item" data-bs-toggle="tooltip" title="記錄不同config發生的問題">
     

  <a class="nav-link" 
    href="/~linchao/test/basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C.html"><i class="far fa-folder"></i>記錄不同config發生的問題  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_a2e7f9311576d18267924c12ad26059e"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_a2e7f9311576d18267924c12ad26059e"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C/cssstyle2.html" data-bs-toggle="tooltip" title="樣式 in Rmarkdown">樣式 in Rmarkdown</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C/cssstyle.html" data-bs-toggle="tooltip" title="樣式 in Rmd">樣式 in Rmd</a></li>
    </ul>
  

</li>   
     
  
</li>
    </ul>
  

</li>   
     
  

        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="有關R的測試">
     

  <a class="nav-link" 
    href="/~linchao/test/r.html"><i class="far fa-folder"></i>有關R的測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_f2fbe31bf91947f86781e8f880800fb7"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_f2fbe31bf91947f86781e8f880800fb7"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A6%E6%BA%96%E5%82%99%E5%B7%A5%E4%BD%9C.html" data-bs-toggle="tooltip" title="0. 引擎測試準備工作">0. 引擎測試準備工作</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A61.html" data-bs-toggle="tooltip" title="1. 引擎測試1">1. 引擎測試1</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A62.html" data-bs-toggle="tooltip" title="2. 引擎測試2">2. 引擎測試2</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A63.html" data-bs-toggle="tooltip" title="3. 引擎測試3">3. 引擎測試3</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A64.html" data-bs-toggle="tooltip" title="4. 引擎測試4">4. 引擎測試4</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/blackfriday.html" data-bs-toggle="tooltip" title="blackfriday">blackfriday</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/chunk_output.html" data-bs-toggle="tooltip" title="chunk output in Rmarkdown">chunk output in Rmarkdown</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/global_options.html" data-bs-toggle="tooltip" title="global option in R">global option in R</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E4%BA%82%E6%95%B8.html" data-bs-toggle="tooltip" title="亂數">亂數</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="/~linchao/test/r/%E6%B8%AC%E8%A9%A6%E9%A1%9E%E5%88%A5.html" data-bs-toggle="tooltip" title="測試類別">測試類別</a></li>
    </ul>
  

</li>   
     
  

          
        
  </ul> 

    
    
    <hr/>
    <section id="shortcuts">
      <ul>Shortcuts</ul>
      <ul>
        
        <li>
          ⛳<a href="http://www2.nkust.edu.tw/~linchao/test/categories.html"><i class='fas fa-fw fa-paperclip'></i> 分類</a>
        </li>
        
      </ul>
    </section>
    

    <hr/>
    <section id="footer">
      最近3篇<br/><ul><li><a href="http://www2.nkust.edu.tw/~linchao/test/basic/token/token%E5%AF%A6%E9%A9%97.html"> <i class="far fa-clock" ></i>t2 token實驗[2021-08-21 PM 06:06]</a></li><li><a href="http://www2.nkust.edu.tw/~linchao/test/basic/token/test.html"> <i class="far fa-clock" ></i>test[2021-08-21 PM 02:31]</a></li><li><a href="http://www2.nkust.edu.tw/~linchao/test/basic/token/%E6%8B%BFtoken.html"> <i class="far fa-clock" ></i>拿token[2021-08-21 PM 12:25]</a></li></ul>
    </section>
  
</nav><article class="article mx-2 mt-3" id="body-inner">
    

<h2 id="參考">參考</h2>

<h3 id="快提">快提</h3>

<ul>
<li>DEBUG範例:  <code>{{printf &quot;%#v&quot; 變數}}</code></li>
<li><a href="https://www.regisphilibert.com/blog/2018/02/hugo-the-scope-the-context-and-the-dot/">💯甚麼是💲</a></li>
<li><a href="https://mertbakir.gitlab.io/hugo/loops-in-hugo/">程式技巧</a></li>
<li><a href="https://www.regisphilibert.com/blog/2019/12/hugo-partial-series-part-2-functions-with-returning-partials/">程式技巧</a></li>
<li><a href="https://pakstech.com/blog/hugo-list-page/">卡片設計</a></li>
<li><a href="https://www.regisphilibert.com/blog/2019/12/hugo-partial-series-part-2-functions-with-returning-partials/">hugo return👌</a></li>
</ul>

<h3 id="snippet">snippet</h3>

<p>網頁分組</p>

<ul>
<li>利用面板參數分組</li>
<li>如果是自訂面板參數分組<code>.Pages.GroupByParam</code></li>
</ul>

<h2 id="實驗註記">實驗註記</h2>

<h3 id="uglyurls-false"><code>uglyurls=false</code></h3>

<p>如果設定 <code>uglyurls=false</code>,並且面板上有<code>tags: [&quot;xx&quot;]</code>則,輸入<code>http://localhost/tags</code> 會顯示列表。</p>

<p>但是如果自訂taxonomies</p>

<ul>
<li><p><a href="https://www.kiroule.com/article/add-series-taxonomy-to-hugo-theme/">參考</a>
例如,我在<code>config.toml</code>中加入下面的設定</p>

<pre><code>[taxonomies]
series = &quot;series&quot;
</code></pre>

<p>❓此時有問題: <code>localhost:1313/tags</code>失效。也就是說,HUGO預設你關掉了預設tags,categories,因此必須自己處理。</p></li>
</ul>

<p>💡怎樣處理?</p>

<ol>
<li><p>再自己加上</p>

<pre><code>[taxonomies]
tag = &quot;tags&quot;
category = &quot;categories&quot;
series = &quot;series&quot;
</code></pre></li>

<li><p>以series為例，增加模板 <code>layouts/_default/series.terms.html</code>，內容範例</p>

<pre><code>{{ define &quot;main&quot; }}

&lt;div class=&quot;content&quot;&gt;
&lt;div class=&quot;article-wrapper u-cf single&quot;&gt;
    &lt;a class=&quot;bubble&quot; href=&quot;{{ &quot;/series/&quot; | relURL }}&quot;&gt;
        &lt;i class=&quot;fa fa-fw fa-list-alt&quot;&gt;&lt;/i&gt;
    &lt;/a&gt;

    &lt;article class=&quot;article&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h3&gt;{{ i18n &quot;series&quot; | default &quot;series&quot; }}&lt;/h3&gt;
            &lt;hr&gt;
            &lt;ul id=&quot;all-series&quot;&gt;
                {{ range $name, $taxonomy := .Site.Taxonomies.series }}
                    {{ $series_name := $name }}
                    {{ $series_path := (printf &quot;/series/%s&quot; (urlize $name)) }}
                    {{ $series_page := site.GetPage $series_path }}

                    {{ if $series_page }}
                        {{ $series_name = $series_page.Title }}
                    {{ end }}

                    &lt;li&gt;&lt;a href=&quot;{{ $series_path }}&quot;&gt;{{ $series_name }} ({{ $taxonomy.Count }})&lt;/a&gt;&lt;/li&gt;
                {{ end }}
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/article&gt;
&lt;/div&gt;
&lt;/div&gt;
{{ end }}
</code></pre></li>
</ol>

<h3 id="uglyurls-true"><code>uglyurls=true</code></h3>

<p>✔️此時存取的方法為: <code>http://localhost:1313/tags.html</code></p>

<h2 id="如何拿到正確tags所在網頁的網址">如何拿到正確tags所在網頁的網址</h2>

<p>這是前一版的partial模板(<code>tags.html</code>),用來顯示目前md中標籤。
缺點是必須要判斷是否<code>uglyurls</code>的設定真假值。但是HUGO不讓我們拿(<code>.Site.uglyURLs</code> 會抱怨沒有這個欄位)</p>

<pre><code class="language-html">{{ if .Params.tags }}
&lt;div class=&quot;tags&quot;&gt;
{{range .Params.tags}}
  {{- if (and (isset $.Site.Params &quot;uglyurls&quot;) ($.Site.Params.uglyURLs)) -}}
    &lt;a class=&quot;tag-link&quot; href=&quot;/tags/{{ . | urlize }}.html&quot;&gt;{{ . }}&lt;/a&gt;   
  {{- else -}}
    &lt;a class=&quot;tag-link&quot; href=&quot;{{ &quot;/tags/&quot; | relURL }}{{ . | urlize }}&quot;&gt;{{ . }}&lt;/a&gt; 
  {{- end -}} 
{{end}}
&lt;/div&gt;
{{end}}
</code></pre>

<p>改進(但是這裡是<code>短碼</code>,上面是<code>partial</code>)</p>

<pre><code class="language-html">
{{ $data := .Site.Taxonomies.tags }}

{{range $.Page.Params.tags}}
{{ $any := index $data . }}
  {{range $any}}
  &lt;li&gt;&lt;a href={{.RelPermalink}}&gt;{{.Title}}&lt;/a&gt; &lt;/li&gt;
  {{end}}
{{end}}



</code></pre>

<ul>
<li><p>在這個短碼中,有些怪問題</p>

<ul>
<li>$.Page 等於 .Page</li>
<li>❓ <code>.Page.Params</code>❌ 不對 , <code>$.Page.Params</code>✔ 可以,就是前面要加<code>$.</code></li>

<li><p>在寫上面的短碼的時候,我參考這裡,❓但是下面的<code>.Data</code>在上面partial(<code>tags.html</code>)無效❓。</p>

<pre><code>&lt;ul class=&quot;tags-listing&quot;&gt;
	    {{ $data := .Data }}
	    {{ $thisURL := .URL}}
	    {{ range $key,$value := .Data.Terms.Alphabetical }}
	    &lt;li class=&quot;site-tag&quot;&gt;
			{{$key}},{{$value.Name}},{{$data.Plural}}
			{{$value.Page.RelPermalink}}
		&lt;a href=&quot;/{{ $data.Plural }}/{{ $value.Name | urlize }}&quot;&gt;
		&lt;h3&gt;{{ replace $value.Name &quot;-&quot; &quot; &quot; }} ({{ $value.Count }})&lt;/h3&gt;&lt;/a&gt;
		&lt;/li&gt;
	    {{ end }}
&lt;/ul&gt;
</code></pre></li>
</ul></li>
</ul>

<p>👍最後註記,利用後段程式碼判斷uglyURls 的真假:</p>

<pre><code class="language-html">{{ $item := first 1 $.Site.RegularPages }}
{{ $link := index $item 0 }}
{{ return gt (len (findRE &quot;\\.html$&quot; $link.Permalink)) 0 }}
</code></pre>

<h2 id="code-snippet">code snippet</h2>

<h3 id="輸出所有類別">輸出所有類別</h3>

<p>在短碼中</p>

<pre><code class="language-html">{{ range $taxonomyname, $x := .Site.Taxonomies }}
   {{ $taxonomyname | urlize }}
{{ end}}
</code></pre>

<p>結果: <code>categories series tags</code></p>

<h3 id="taxonomies-的範例">taxonomies 的範例</h3>

<div class="expand">
    <div class="expand-label" onclick="$h = $(this);$h.siblings('div.expand-content').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.siblings('div.expand-content').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
        <i style="font-size:x-small;" class="fa fa-chevron-right" color="yellow"></i>
        <span>官網給的例子"</span>
    </div><div class="expand-content"><pre><code class="language-html">&lt;ul&gt;
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      &lt;li&gt;&lt;a href=&quot;{{ &quot;/&quot; | relLangURL}}{{ $taxonomyname | urlize }}&quot;&gt;{{ $taxonomyname }}&lt;/a&gt;
        &lt;ul&gt;
          {{ range $key, $value := $taxonomy }}
          &lt;li&gt; {{ $key }} &lt;/li&gt;
                &lt;ul&gt;
                {{ range $value.Pages }}
                    &lt;li&gt;&lt;a href=&quot;{{ .Permalink}}&quot;&gt; {{ .LinkTitle }} &lt;/a&gt; &lt;/li&gt;
                {{ end }}
                &lt;/ul&gt;
          {{ end }}
        &lt;/ul&gt;
      &lt;/li&gt;
    {{ end }}
  &lt;/ul&gt;
</code></pre>

<ul>
<li>聯結有(來自第3行):

<ul>
<li><code>&lt;a href=&quot;localhost/categories&quot;&gt;category&lt;/a&gt;</code></li>
<li><code>&lt;a href=&quot;localhost/series&quot;&gt;category&lt;/a&gt;</code></li>
<li><code>&lt;a href=&quot;localhost/tags&quot;&gt;category&lt;/a&gt;</code></li>
<li>🈸仍然不對uglyurls做反應。🐱‍🚀</li>
</ul></li>
<li><code>range $value.Pages</code>

<ul>
<li>每一個類別,都視為一個section,而每個類別的值,又視為一個section所以可以拿到類別對應的.Pages(e.g. <code>$value.Pages</code>)</li>
</ul></li>
</ul>
</div></div>

<p>結果大致上是這樣</p>

<pre><code>categories
  basic &lt;key&gt;
    about section
    ...<span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> md中,面板中的設定是這樣 - 『categories: [&#34;basic&#34;]』  
    </span>
  </span>
series
  hugo &lt;key&gt;
    about section
    ...<span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> md中,面板中的設定是這樣 - 『series: [&#34;hugo&#34;] 』 
    </span>
  </span>
tags
  hugo &lt;key&gt; <span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> Encode image in html 的md中,面板中的設定是這樣 - 『tags: [&#34;hugo&#34;]』  
    </span>
  </span>
    Encode image in html 
    
</code></pre>

<p>🏷解釋</p>

<ul>
<li>我的config.toml 中有

<ul>
<li>categories</li>
<li>series</li>
<li>tags</li>
</ul></li>

<li><p><code>about section</code>這份文件中面板的設定如下:</p>

<pre><code>---
categories: [&quot;bais&quot;]
series: [&quot;hugo&quot;]
---
</code></pre></li>
</ul>

<h2 id="結論">💯結論</h2>

<p>以xx.md 的內容為例:</p>

<pre><code class="language-yml">---
categories: [&quot;base&quot;]
series: [&quot;hugo&quot;]
tags: [&quot;hello&quot;,&quot;lab&quot;]
---
</code></pre>

<h3 id="uglyurls-true-1"><code>uglyURLs=true</code></h3>

<ul>
<li>分別產生 <code>http://site/categories.html</code>,<code>http://site/series.html</code>,<code>http://site/tags.html</code></li>
<li>base 成為key,裡面有一連串對應的網頁,<code>xx.md</code>是其中一個

<ul>
<li>以<code>http://site/tags.html</code>為例<br />
<div class="expand">
    <div class="expand-label" onclick="$h = $(this);$h.siblings('div.expand-content').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.siblings('div.expand-content').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
        <i style="font-size:x-small;" class="fa fa-chevron-right" color="yellow"></i>
        <span>http://site/tags.html</span>
    </div><div class="expand-content"><ul >
          <li> hugo  對應網頁    "./tags/hugo"      </li> <span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> 和上面的差別 `.` vs `..`  
    </span>
  </span>
          <li > lab  對應網頁       "./tags/lab">       </li>    
</ul>
</div></div></li>
</ul></li>
</ul>

<h3 id="uglyurls-false-1"><code>uglyURLs=false</code></h3>

<ul>
<li>分別產生 <code>http://site/categories</code>,<code>http://site/series</code>,<code>http://site/tags</code>,

<ul>
<li>以<code>http://site/tags(/index.html)</code>為例
<div class="expand">
    <div class="expand-label" onclick="$h = $(this);$h.siblings('div.expand-content').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.siblings('div.expand-content').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
        <i style="font-size:x-small;" class="fa fa-chevron-right" color="yellow"></i>
        <span>http://site/tags 的內容</span>
    </div><div class="expand-content"><ul class="tags-listing">
        <li> hugo , 對應網頁 "../tags/hugo" </li> <span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> 和上面的差別 `.` vs `..`  
    </span>
  </span>
    <li> lab    ,   對應網頁 "../tags/lab"> </li>
 </ul>    
    
</div></div></li>
</ul></li>
</ul>

  </article><div class="collapse fs-6 pt-2" id="qnote-list">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white ">
        <span >
            
            <span class="fw-semibold">
                <button  class="btn btn-primary btn-inline" 
                   data-bs-toggle="collapse" data-bs-target="#qnote-edit"><span data-bs-toggle="tooltip" title="加入速記">加</span></button>
                <button id="qnote-gsave" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="存到硬碟"
                   onclick="qnSaveGoogle()">存</button>
                <label for="qnote-load" class="btn btn-primary btn-inline"  data-bs-toggle="tooltip" data-bs-placement="left" title="從檔案載入">載</label>   
                <input style="display:none" type="file" id="qnote-load" onchange="qnLoadGoogle(this)" />
                <button id="qnote-clear" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="清除全部速記"
                   onclick="cleanNotes()">清</button>
            </span>
        </span>
        <span class="fw-semibold collapse" id="qnote-edit"> 
            <input type="text" class="txtitle d-block w-100 h-25 " placeholder="抬頭" />
            <textarea class="txtBox  d-block w-100 h-75 " placeholder="本文"></textarea>
            
            <button id="qnote-add-item" onclick="addNote()" class="btn btn-primary">存</button> 
        </span>

    </div>
</div>

<link href="/~linchao/test/css/quicknote.css?1629552236" rel="stylesheet">
<script src="/~linchao/test/js/quicknote.js?1629552236"></script>
<div id="page-guide" class="bg-dark">  
  
    
          
          <a href="/~linchao/test/%E6%8F%9B%E8%A3%9D%E7%B4%80%E9%8C%84/%E5%88%86%E5%A1%8Aquicknote.html" 
                   class="btn btn-primary" 
                   data-bs-toggle="tooltip" 
                   data-bs-placement="left" title=分塊quicknote>前</a>
                   
          
            <a href="/~linchao/test/%E6%8F%9B%E8%A3%9D%E7%B4%80%E9%8C%84/%E7%9F%AD%E7%A2%BCattachfiles.html" 
               class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" 
               title=短碼attachfiles>後</a>            
          
          

  
<script src="/~linchao/test/js/packhtml.js?1629552236"></script>    
<button class="btn btn-primary " onclick="packthis(this)"
data-bs-toggle="tooltip" data-bs-placement="left" title="打包成單一檔案">包</button>
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="div#qnote-list">
  <span data-bs-toggle="tooltip" data-bs-placement="left" title="快速註記">速</span></button>
 
</div>
  </div>


  <script src="/~linchao/test/js/featherlight.min.js?1629552236"></script>
  <script src="/~linchao/test/js/featherlight.gallery.min.js?1629552236"></script>
  <link href="/~linchao/test/css/featherlight.min.css?1629552236" rel="stylesheet">
  <link href="/~linchao/test/css/featherlight.gallery.min.css?1629552236" rel="stylesheet">

  <script src="/~linchao/test/js/highlight.pack.js?1629552236"></script>
  
  <script>
 
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre:not(.chroma) code').forEach((el) => {
    hljs.highlightBlock(el);
  });
});   
 
  </script>
  <link href="/~linchao/test/css/demoContainer.css?1629552236" rel="stylesheet"><link href="/~linchao/test/css/rmd.css?1629552236" rel="stylesheet">
  <link href="/~linchao/test/css/mystyle.css?1629552236" rel="stylesheet">    
  <script src='/~linchao/test/js/variant.js?1629552236'></script>

<script>
  var idxfile = "\/~linchao\/test/index.json"
</script>
<script src='/~linchao/test/js/localsearch.js?1629552236'></script>
    


  

  <script>
    
      MathJax = {
        tex: {
          inlineMath: [['\($', '$\)'], ['\\(', '\\)']],
          displayMath: [['$$','$$']]  
        },
        svg: {
          fontCache: 'global'
        }
      };
    
      </script>
      <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
      </script>



<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    jumpto = document.querySelector(".active-category .active");
     if (jumpto!=null) jumpto.scrollIntoViewIfNeeded(true);
  
  });    
  
  </script>
</body>
</html>