<!DOCTYPE html>
<html><head>
  <title>自訂輸出</title>  
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='../images/favicon.ico'/>
      
    <script src="../js/jquery-3.3.1.min.js?1629561306"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src='../js/tocbot.min.js'></script>
    <link href='../css/tocbot.css' rel="stylesheet">

    <script src='../js/datatables.min.js'></script>    
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">    
    
    <link href="../css/fontawesome-all.min.css?1629561306" rel="stylesheet">
    <link href="../css/atom-one-dark-reasonable.css?1629561306" rel="stylesheet">
    <link href="../css/syntax.css?1629561306" rel="stylesheet">
    
    <link href="../css/theme-mine.css?1629561306" rel="stylesheet">
    
    <link href="../css/theme.css?1629561306" rel="stylesheet">
    
    
    <link rel="stylesheet" href="../scss/notice.e59a0cc88b64e695994f518354819cfbf48558cdcfd9a16dc129f9952128ba36.css" integrity="sha256-5ZoMyItk5pWZT1GDVIGc&#43;/SFWM3P2aFtwSn5lSEoujY=">

    
  </head><body><div id="top-pane" class="navbar  fixed-top ">
  <div class="container-fluid">
  <span >
    <a  href='../' class="fs-5 accessory"><i class="fas fa-home"></i>我的測試區</a>
    <span id="sidebar-toggle-span" class="fs-5"><i class="fas fa-align-justify"></i></span>
  </span><span >
      <span id="toc-menu">
    <label><i class="fas fa-list-alt" ></i> </label>    
<div id="variant-toc-content" >
    <div class="wrapper">
        <nav id="TableOfContents">
<ul>
<li>
<ul>
<li>
<ul>
<li><a href="#來自官網的節錄">來自官網的節錄</a></li>
<li><a href="#我的實驗">我的實驗</a></li>
</ul></li>
</ul></li>
</ul>
</nav>
    </div>
    <hr class="p-0 m-0" />
    <div class="toa"></div>
</div>
</span>
<span class="fs-5 accessory" data-bs-toggle="tooltip" data-bs-placement="bottom" 
      title='最後修改July 24, 2021'>自訂輸出</span>
        
    

    </span>
  
  <span></span><span >
    <span >
    <label for="search-query" id="search-button"><i class="fas fa-search"></i></label>
    <input id="search-query" type="search" placeholder="搜尋" autocomplete="off">
</span>    
 
<div id="search-pane">
 <ol id="search-results"></ul>
</div>

    </span>
</div> 
</div>


<div id="content-wrapper"><nav id="sidebar">

  

    
    
    <ul class="nav flex-column topics" id="home-topics">
      
        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="nodejs 測試">
     

  <a class="nav-link" 
    href="../nodejs.html"><i class="far fa-folder"></i>nodejs 測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_af4b61d775dd1b084c1edc9440ed8bb8"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_af4b61d775dd1b084c1edc9440ed8bb8"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="../nodejs/tutorial/t1_basic.html" data-bs-toggle="tooltip" title="t1 basic">t1 basic</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../nodejs/tutorial/t2_cors.html" data-bs-toggle="tooltip" title="t2 cors 的實驗">t2 cors 的實驗</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../nodejs/tutorial/t3_cookies.html" data-bs-toggle="tooltip" title="t3_cookies">t3_cookies</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../nodejs/tutorial/t4_session.html" data-bs-toggle="tooltip" title="t4_session">t4_session</a></li>
    </ul>
  

</li>   
     
  

        
          
        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="基本">
     

  <a class="nav-link" 
    href="../basic.html"><i class="far fa-folder"></i>基本  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_e1c118151bd2cc204dc463b4dbcd4102"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/vscode.html" data-bs-toggle="tooltip" title="vscode 的設定">vscode 的設定</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/vscode%E5%BF%AB%E9%80%9F.html" data-bs-toggle="tooltip" title="vscode快速">vscode快速</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E4%BD%BF%E7%94%A8slice.html" data-bs-toggle="tooltip" title="使用slice">使用slice</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E5%85%A7%E5%BB%BA%E6%8C%87%E4%BB%A4relref%E6%B8%AC%E8%A9%A6.html" data-bs-toggle="tooltip" title="內建指令relref測試.md">內建指令relref測試.md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E6%89%93%E5%85%89.html" data-bs-toggle="tooltip" title="打光議題">打光議題</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E6%89%93%E5%8C%85%E6%96%87%E4%BB%B6.html" data-bs-toggle="tooltip" title="打包文件">打包文件</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E6%9C%89%E9%97%9Cthemes%E8%A8%AD%E5%AE%9A.html" data-bs-toggle="tooltip" title="有關variant 的config.toml">有關variant 的config.toml</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/tagtest.html" data-bs-toggle="tooltip" title="標籤">標籤</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E6%AD%A3%E8%A6%8F%E8%A1%A8%E9%81%94%E5%BC%8F.html" data-bs-toggle="tooltip" title="正規表達式">正規表達式</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/gallery.html" data-bs-toggle="tooltip" title="短碼 - foldergallery">短碼 - foldergallery</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E7%9F%AD%E7%A2%BCexpand.html" data-bs-toggle="tooltip" title="短碼 expand">短碼 expand</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E7%9F%AD%E7%A2%BCattachfiles.html" data-bs-toggle="tooltip" title="短碼attachfiles">短碼attachfiles</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/short_demo_container_md.html" data-bs-toggle="tooltip" title="短碼demo_container_md">短碼demo_container_md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E7%9F%AD%E7%A2%BCdocfile%E8%A8%BB%E8%A7%A3.html" data-bs-toggle="tooltip" title="短碼docfile註解.md">短碼docfile註解.md</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E7%9F%AD%E7%A2%BCgithub.html" data-bs-toggle="tooltip" title="短碼github.html">短碼github.html</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E7%B7%A8%E8%99%9F.html" data-bs-toggle="tooltip" title="編號">編號</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/short_editurl.html" data-bs-toggle="tooltip" title="編輯副檔名">編輯副檔名</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E8%A8%8E%E8%AB%96%E5%8D%80.html" data-bs-toggle="tooltip" title="討論區">討論區</a></li>
    
  <li>

 


<li class="nav-item" data-bs-toggle="tooltip" title="token 測試">
     

  <a class="nav-link" 
    href="../basic/token.html"><i class="far fa-folder"></i>token 測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_59852a0c5987b8e2611de46cc1c512a6"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_59852a0c5987b8e2611de46cc1c512a6"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"> 
    

  
  
  
  
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/token/t2_token%E5%AF%A6%E9%A9%97.html" data-bs-toggle="tooltip" title="t2 token實驗">t2 token實驗</a></li>
    
  
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/token/test.html" data-bs-toggle="tooltip" title="test">test</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/token/upload.html" data-bs-toggle="tooltip" title="upload">upload</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/token/%E6%8B%BFtoken.html" data-bs-toggle="tooltip" title="拿token">拿token</a></li>
    </ul>
  

</li>   
     
  
</li>
    
  <li>

 


<li class="nav-item" data-bs-toggle="tooltip" title="記錄不同config發生的問題">
     

  <a class="nav-link" 
    href="../basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C.html"><i class="far fa-folder"></i>記錄不同config發生的問題  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_a2e7f9311576d18267924c12ad26059e"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_a2e7f9311576d18267924c12ad26059e"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_e1c118151bd2cc204dc463b4dbcd4102"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C/cssstyle2.html" data-bs-toggle="tooltip" title="樣式 in Rmarkdown">樣式 in Rmarkdown</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../basic/%E4%BD%BF%E7%94%A8%E6%99%82%E7%99%BC%E7%94%9F%E7%9A%84%E5%95%8F%E9%A1%8C/cssstyle.html" data-bs-toggle="tooltip" title="樣式 in Rmd">樣式 in Rmd</a></li>
    </ul>
  

</li>   
     
  
</li>
    </ul>
  

</li>   
     
  

        
          
        
          
          

 


<li class="nav-item" data-bs-toggle="tooltip" title="有關R的測試">
     

  <a class="nav-link" 
    href="../r.html"><i class="far fa-folder"></i>有關R的測試  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_f2fbe31bf91947f86781e8f880800fb7"><i class="fas fa-caret-right"></i></span>
      
  <ul id="menu_item_f2fbe31bf91947f86781e8f880800fb7"  
  class="submenu collapse" 
  data-bs-parent="#home-topics"> 
    

  
  
  
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A6%E6%BA%96%E5%82%99%E5%B7%A5%E4%BD%9C.html" data-bs-toggle="tooltip" title="0. 引擎測試準備工作">0. 引擎測試準備工作</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A61.html" data-bs-toggle="tooltip" title="1. 引擎測試1">1. 引擎測試1</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A62.html" data-bs-toggle="tooltip" title="2. 引擎測試2">2. 引擎測試2</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A63.html" data-bs-toggle="tooltip" title="3. 引擎測試3">3. 引擎測試3</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E5%BC%95%E6%93%8E%E6%B8%AC%E8%A9%A64.html" data-bs-toggle="tooltip" title="4. 引擎測試4">4. 引擎測試4</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/blackfriday.html" data-bs-toggle="tooltip" title="blackfriday">blackfriday</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/chunk_output.html" data-bs-toggle="tooltip" title="chunk output in Rmarkdown">chunk output in Rmarkdown</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/global_options.html" data-bs-toggle="tooltip" title="global option in R">global option in R</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E4%BA%82%E6%95%B8.html" data-bs-toggle="tooltip" title="亂數">亂數</a></li>
    
  
        <li class="nav-item">
          
          <a class="nav-link" href="../r/%E6%B8%AC%E8%A9%A6%E9%A1%9E%E5%88%A5.html" data-bs-toggle="tooltip" title="測試類別">測試類別</a></li>
    </ul>
  

</li>   
     
  

          
        
  </ul> 

    
    
    <hr/>
    <section id="shortcuts">
      <ul>Shortcuts</ul>
      <ul>
        
        <li>
          ⛳<a href="../categories.html"><i class='fas fa-fw fa-paperclip'></i> 分類</a>
        </li>
        
      </ul>
    </section>
    

    <hr/>
    <section id="footer">
      最近3篇<br/><ul><li><a href="../basic/token/upload.html"> <i class="far fa-clock" ></i>upload[2021-08-21 PM 11:21]</a></li><li><a href="../basic/token/test.html"> <i class="far fa-clock" ></i>test[2021-08-21 PM 11:21]</a></li><li><a href="../basic/token/t1_google_api.html"> <i class="far fa-clock" ></i>t1 google_api[2021-08-21 PM 11:21]</a></li></ul>
    </section>
  
</nav><article class="article mx-2 mt-3" id="body-inner">
    <p>我想有一個獨立的網頁,例如內容是所有文章的列表,當開啟單獨一個網頁的時候,就引用內容,而不是每次都在每個網頁包含全部的列表。</p>

<h3 id="來自官網的節錄">來自官網的節錄</h3>

<p>Example from site config file:</p>

<p>config.toml</p>

<pre><code>[outputs]
  home = [&quot;HTML&quot;, &quot;AMP&quot;, &quot;RSS&quot;]
  page = [&quot;HTML&quot;]
</code></pre>

<ul>
<li>.Page.Kind 如果是page ,那麼就輸出HTML。</li>
<li>上面的設定 不影響內定(例如.Kind為 section和 taxonomy) ,兩者仍然是輸出 [&quot;HTML&quot;, &quot;RSS&quot;].</li>
</ul>

<h3 id="我的實驗">我的實驗</h3>

<p>總之就是,home除了產生<code>index.JSON</code>以外,現在又用來產生⛳<code>walk.html</code>這個裡面就只是一堆文章的ul,li 列表。</p>

<p>而產生前述的列表,就像產生<code>index.json</code>一樣,需要模板,也就是<code>home.walk.html</code>,而在這個模板中,調用<code>partial/walk.html</code>的遞迴函數。</p>

<p>最後,在site/index.html中,需要將上面的⛳動態插入到<code>partial/menu.html</code>中的<code>div#side-walk</code>。
<div class="notices">
    <div class= warning>
        我偷懶,照下面的流程做下去,除了HOME以外,其他的側欄都是空的,因為,我沒有在<code>single.html</code>,<code>list.html</code> 中加入最後一個步驟的JS。
    </div>
</div>
</p>

<ol>
<li><p><code>config.toml</code> 的原來設定只有</p>

<pre><code class="language-toml">[outputs]
home = [ &quot;HTML&quot;, &quot;RSS&quot;, &quot;JSON&quot;]
</code></pre>

<p><div class="notices">
    <div class= tip>
        上面只對HOME網頁產生兩個輸出,一個是<code>docs/index.html</code>,一個是<code>docs/index.json</code>
    </div>
</div>

現在打算多產生一個<code>sidebar.html</code>,改成如下:</p>

<pre><code class="language-toml">[outputFormats]
[outputFormats.walk]
mediaType = &quot;text/html&quot;
baseName = &quot;walk&quot; # <span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> 在根目錄下產生walk.html 
    </span>
  </span>
isHTML = true
#isPlainText = true
notAlternative = true
[outputs]
home = [ &quot;HTML&quot;, &quot;RSS&quot;, &quot;JSON&quot;,&quot;walk&quot;] 
</code></pre>

<div class="notices">
    <div class= info>
        homepage 除了<code>index.html</code> 還會有<code>walk.html</code>,<code>index.json</code>。
RSS不產生,因為沒有對應的模板
    </div>
</div>
</li>

<li><p>建立檔案<code>layouts\home.walk.html</code>作為產生<code>walk.html</code>的模板,內容如下:</p>

<pre><code>&lt;ul&gt;
{{ range where .Site.Pages &quot;Kind&quot; &quot;section&quot; }}
  &lt;li&gt;
    &lt;a href=&quot;{{ .RelPermalink }}&quot;&gt;{{ .Title }}&lt;/a&gt;
    {{ if .Pages }}
      {{ partial &quot;walk.html&quot; . }}
    {{ end }}    
  &lt;/li&gt;
{{ end }}
&lt;/ul&gt;
</code></pre>

<ul>
<li>這是配合<code>config.toml</code>中的自訂輸出</li>
<li>只是遞迴調用<code>layouts/partial/walk.html</code>:</li>
</ul></li>

<li><p>用來產生sidebar的遞迴(給<code>layouts\home.walk.html</code>調用的)
<code>layouts/partial/walk.html</code>的內容</p>

<pre><code class="language-html">&lt;ul&gt; 
 
{{ range .Pages.ByTitle }}
  &lt;li&gt;
    &lt;a href=&quot;{{ .RelPermalink }}&quot;&gt;{{ .Title }}&lt;/a&gt;
    {{ if .Pages }}
      {{ partial &quot;walk.html&quot; . }}
    {{ end }}    
  &lt;/li&gt;
{{ end }}
&lt;/ul&gt;
</code></pre></li>

<li><p><code>layouts/partial/menu.html</code>,只是把<code>variant/layouts/partial/menu.html</code>複製來這裡,然後把其中的template殺除,只放入一個空的<code>&lt;div id=&quot;side-walk&quot;&gt;</code></p>

<pre><code class="language-html">&lt;nav id=&quot;sidebar&quot;&gt;

{{ $currentNode := . }}
    
  &lt;div id=&quot;header-wrapper&quot;&gt;
    {{if not .Site.Params.disableLandingPageButton }}
    &lt;section id=&quot;homelinks&quot;&gt;
      &lt;ul&gt;
        &lt;li&gt;
            &lt;a class=&quot;padding&quot; href='{{ (cond (ne .Site.Params.landingPageURL nil) .Site.Params.landingPageURL &quot;/&quot;) }}'&gt;{{ safeHTML (cond (ne .Site.Params.landingPageName nil) .Site.Params.landingPageName (printf &quot;%s%s&quot; &quot;&lt;i class='fas fa-home'&gt;&lt;/i&gt;&quot; .Site.Title )) }}&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/section&gt;
  {{end}}   
    {{if not .Site.Params.disableSearch}}
        {{ partial &quot;search.html&quot; . }}
    {{end}}
  &lt;/div&gt;
    
    &lt;div class=&quot;highlightable&quot;&gt;
      &lt;span id=&quot;topics-toggle&quot;&gt;&lt;i class=&quot;fas fa-bars&quot;&gt;&lt;/i&gt;&lt;/span&gt;            
      &lt;!-- <span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> ✔sidebar(e.g. docs/walk.html) 要放這裡  
    </span>
  </span> --&gt;
     &lt;div id=&quot;side-walk&quot;&gt;&lt;/div&gt; 
      &lt;!--&gt;<span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;">  ⛳🏷除了加入div#side-walk 和刪掉原來的template 其他都一樣  
    </span>
  </span>--&gt;
    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      &lt;section id=&quot;shortcuts&quot;&gt;
        &lt;h3&gt;{{ if not $disableShortcutsTitle}}{{ T &quot;Shortcuts-Title&quot;}}{{ end }}&lt;/h3&gt;
        &lt;ul&gt;
          {{ range sort . &quot;Weight&quot;}}
              &lt;li&gt;
                  {{.Pre}}&lt;a class=&quot;padding&quot; href=&quot;{{.URL | absURL }}&quot;&gt;{{safeHTML .Name}}&lt;/a&gt;{{.Post}}
              &lt;/li&gt;
          {{end}}
        &lt;/ul&gt;
      &lt;/section&gt;
    {{end}}
    
    &lt;section id=&quot;footer&quot;&gt;
      {{ partial &quot;menu-footer.html&quot; . }}
    &lt;/section&gt;
  &lt;/div&gt;
&lt;/nav&gt;

</code></pre></li>

<li><p><code>layouts/index.html</code> 幾乎都是從<code>variant/index.html</code>複製而來,只是加了script 用來將<code>docs/walk.html</code>填入<code>menu.html</code>的<code>&lt;div id=&quot;side-walk&quot;&gt;</code></p>

<pre><code class="language-html"> 
{{ partial &quot;header.html&quot; . }}
&lt;span id=&quot;sidebar-toggle-span&quot;&gt;
&lt;a href=&quot;#&quot; id=&quot;sidebar-toggle&quot; data-sidebar-toggle=&quot;&quot;&gt;&lt;i class=&quot;fas fa-bars&quot;&gt;&lt;/i&gt; navigation&lt;/a&gt;
&lt;/span&gt;

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
    {{ range first 10 .Site.RegularPages }}
         {{/* .Render &quot;summary&quot; */}}
         &lt;li&gt;{{ .Title }} &lt;/li&gt;
     {{ end }}
{{else}}    
    &lt;ul&gt;還沒建立下面任一種
       &lt;li&gt; content: _index.md &lt;/li&gt;
       &lt;li&gt; static: index.html &lt;/li&gt;
       &lt;li&gt; server: redirect &lt;/li&gt;
   &lt;/ul&gt;  
 
{{ end }}  
{{ partial &quot;footer.html&quot; . }}

<span class="tooltip nopre">🏷<span class="tooltiptext" style="background: rgb(255 255 255 / 37%); margin: 0;   padding: 0;border:solid orange;"> 上面都一樣,只有加入下面這個JS,將site/walk.html填入div#side-walk   
    </span>
  </span>  
&lt;script&gt;
   $(function(){
       $(&quot;#side-walk&quot;).load(&quot;walk.html&quot;); 
     });
&lt;/script&gt; 
</code></pre></li>
</ol>
  </article><div class="collapse fs-6 pt-2" id="qnote-list">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white ">
        <span >
            
            <span class="fw-semibold">
                <button  class="btn btn-primary btn-inline" 
                   data-bs-toggle="collapse" data-bs-target="#qnote-edit"><span data-bs-toggle="tooltip" title="加入速記">加</span></button>
                <button id="qnote-gsave" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="存到硬碟"
                   onclick="qnSaveGoogle()">存</button>
                <label for="qnote-load" class="btn btn-primary btn-inline"  data-bs-toggle="tooltip" data-bs-placement="left" title="從檔案載入">載</label>   
                <input style="display:none" type="file" id="qnote-load" onchange="qnLoadGoogle(this)" />
                <button id="qnote-clear" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="清除全部速記"
                   onclick="cleanNotes()">清</button>
            </span>
        </span>
        <span class="fw-semibold collapse" id="qnote-edit"> 
            <input type="text" class="txtitle d-block w-100 h-25 " placeholder="抬頭" />
            <textarea class="txtBox  d-block w-100 h-75 " placeholder="本文"></textarea>
            
            <button id="qnote-add-item" onclick="addNote()" class="btn btn-primary">存</button> 
        </span>

    </div>
</div>

<link href="../css/quicknote.css?1629561306" rel="stylesheet">
<script src="../js/quicknote.js?1629561306"></script>
<div id="page-guide" class="bg-dark">  
  
    
          
          <a href="../%E6%8F%9B%E8%A3%9D%E7%B4%80%E9%8C%84/%E7%AC%AC%E4%BA%8C%E6%AC%A1%E8%99%95%E7%90%86.html" 
                   class="btn btn-primary" 
                   data-bs-toggle="tooltip" 
                   data-bs-placement="left" title=第二次處理>前</a>
                   
          
            <a href="../%E6%8F%9B%E8%A3%9D%E7%B4%80%E9%8C%84/%E8%A8%BB%E8%A7%A3%E5%8E%9F%E4%BE%86%E7%9A%84js.html" 
               class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" 
               title=註解原來的js>後</a>            
          
          

  
<script src="../js/packhtml.js?1629561306"></script>    
<button class="btn btn-primary " onclick="packthis(this)"
data-bs-toggle="tooltip" data-bs-placement="left" title="打包成單一檔案">包</button>
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="div#qnote-list">
  <span data-bs-toggle="tooltip" data-bs-placement="left" title="快速註記">速</span></button>
 
</div>
  </div>


  <script src="../js/featherlight.min.js?1629561306"></script>
  <script src="../js/featherlight.gallery.min.js?1629561306"></script>
  <link href="../css/featherlight.min.css?1629561306" rel="stylesheet">
  <link href="../css/featherlight.gallery.min.css?1629561306" rel="stylesheet">

  <script src="../js/highlight.pack.js?1629561306"></script>
  
  <script>
 
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre:not(.chroma) code').forEach((el) => {
    hljs.highlightBlock(el);
  });
});   
 
  </script>
  <link href="../css/demoContainer.css?1629561306" rel="stylesheet"><link href="../css/rmd.css?1629561306" rel="stylesheet">
  <link href="../css/mystyle.css?1629561306" rel="stylesheet">    
  <script src='../js/variant.js?1629561306'></script>

<script>
  var idxfile = "\//index.json"
</script>
<script src='../js/localsearch.js?1629561306'></script>
    


  

  <script>
    
      MathJax = {
        tex: {
          inlineMath: [['\($', '$\)'], ['\\(', '\\)']],
          displayMath: [['$$','$$']]  
        },
        svg: {
          fontCache: 'global'
        }
      };
    
      </script>
      <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
      </script>



<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    jumpto = document.querySelector("#sidebar .active");
     if (jumpto!=null) jumpto.scrollIntoViewIfNeeded(true);
  
  });    
  
  </script>
</body>
</html>